@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import "tailwindcss";

@theme {
  --font-sans: 'Mona Sans', sans-serif;
  --color-primary: #F97316;
  --color-primary-hover: #EA580C;
  --color-sidebar: #1E293B;
  --color-sidebar-hover: #334155;
  --color-sidebar-active: #0F172A;
  --color-background: #F8FAFC;
}

body {
  font-family: 'Mona Sans', sans-serif;
  /* font-weight: 700; */
  background-color: var(--color-background);
  color: #0f172a;
}

/* Hide scrollbar but keep scroll functionality is there and here */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Turn sidebar icon orange when active */
.sidebar-icon {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF; /* default color */
  -webkit-mask-image: var(--icon-url);
  mask-image: var(--icon-url);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.sidebar-icon-active {
  background-color: #F97316; /* active color */
}
